body {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
 background-image: url(purpletexture.jpg);
background-size: cover;

                background-position: center center;
                background-attachment: fixed;
}
h1 {
  font-size: 50px;
  color: purple;
  text-align: center;
}

li{
  color:white;
}

li, h1, h2, h4{
  line-height: 26px;
  color:white;
  font-family: 'Cabin', sans-serif;
}

}
h1{
  color:white;
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}
img{
                border: 1px solid grey;
                border-radius: 9999999px;
                box-shadow: 10px 10px 10px grey;
}
#footer{
                color: white;
                margin: 20px auto;
                padding: 20px;
                text-align: center;
}
